body{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.calculator{
    background-color:  rgb(17, 16, 16);
    padding: 30px;
    color: white;
    margin-top: 14vh;
    border-radius: 10px;
}

.screen{
    width: 100%;
    height: 140px;
    background-color:  rgb(35, 35, 35);
    border-radius: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.previous-operand{
 font-size: 15px;
 padding-left: 40px;
 padding-bottom: 10px;
 align-self: flex-start;
 color: gray;
 word-wrap: break-word;
 word-break: break-all;

}

.current-operand{
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.button{
    all: unset;
    width: 70px;
    height: 70px;
    background-color: rgb(35, 35, 35);
    margin: 6px;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

#zero{
    width: 149.7px;
    border-radius: 40px;
}

#clear,
#sign,
#percent{
    background-color: rgb(202, 198, 198);
    color: black;
}

#subtract,
#multiply,
#divide,
#add,
#equals{
    background-color: rgb(243, 134, 0);
}

.button:hover {
    filter: brightness(130%);
}

